/* You can add global styles to this file, and also import other style files */
/** CSS For Toast/snackbar messages **/
.success-snackbar {
  background: #d1e7dd;
  color: #0f5132 !important;
  border-color: #badbcc;

  .mat-simple-snackbar-action {
    color: #0f5132 !important;
  }
}

.error-snackbar {
  background: #f8d7da;
  color: #842029 !important;
  border-color: #f5c2c7;

  .mat-simple-snackbar-action {
    color: #842029 !important;
  }
}

.warning-snackbar {
  background: #fff3cd;
  color: #664d03 !important;
  border-color: #ffecb5;

  .mat-simple-snackbar-action {
    color: #664d03 !important;
  }
}

.info-snackbar {
  background: #cff4fc;
  color: #055160 !important;
  border-color: #b6effb;

  .mat-simple-snackbar-action {
    color: #055160 !important;
  }
}

/** CSS For Toast/snackbar messages **/
